@media (min-width: 300px) {
	body {
		background-image: url("background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.centerdiv {
		text-align: center;
	}

	h1 {
		text-align: center;
		color: #BAD4FF;
		font-size: 90px;
		font-family: 'Girassol', cursive;
		margin-left: 12px;
		margin-right: 7px;
		margin-top: 6px;
		margin-bottom: 5px;
	}

	h2 {
		text-align: center;
		color: #BAD4FF;
		font-size: 46px;
		font-family: 'Girassol', cursive;
		margin-left: 12px;
		margin-right: 7px;
		margin-top: 6px;
		margin-bottom: 5px;
	}

	img.rounded {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
		height: 200px;
		width: auto;
	}

	p {
		color: #FFFFFF;
		font-size: 20px;
		font-family: 'Baloo Tammudu 2', cursive;
		margin-left: 25px;
		margin-right: 15px;
		margin-top: 12px;
		margin-bottom: 10px;
	}

	img.homepage {
		width: 80%;
		display: block;
		height: 80%;
		border: 2px solid #81A7E7;
		margin-top: 2em;
		box-shadow: 3px 3px 3px black;
		border-radius: 20%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

  #signup input[type=text] {
    text-align: center;
    width: 90%;
    padding: 20px 20px;
    margin: 20px auto;
    display: block;
    border: 3px solid #BAD4FF;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #signup input[type=submit] {
    width: 40%;
    background-color: #BAD4FF;
    color: black;
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
  }

	label {
		display: inline-block;
		width: 90px;
		line-height: 25px;
	}

	input {
		margin: 0;
		border: 1px solid #666666;
		border-radius: 3px;
	}

	button {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	#nav {
		text-align: center;
		height: 10em;
		line-height: 10em;
		background: rgba(0, 0, 0, 0.6);
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		margin: 2em 2em 2em;
	}
	
	#nav a {
		color: #FFFFFF;
		text-decoration: none;
		margin: 0 -4px 0 -2px;
		padding: 0 15px;
		font-size: 46px;
		font-weight: bold;
		font-family: 'Righteous', cursive;
		border-left: 2px solid #000;
		border-right: 2px solid #000;
	}
	
	#title_box {
		background: rgba(0, 0, 0, 0.6);
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		margin: 2em 2em 2em;
	}
	
	#box {
		background: rgba(0, 0, 0, 0.6);
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		margin: 2em 2em 2em;
	}
}

@media (min-width: 1280px) {
	body {
		background-image: url("background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.centerdiv {
		text-align: center;
	}

	h1 {
		text-align: center;
		color: #BAD4FF;
		font-size:64px;
		font-family: 'Girassol', cursive;
		margin-left: 12px;
		margin-right: 7px;
		margin-top: 6px;
		margin-bottom: 5px;
	}

	h2 {
		text-align: center;
		color: #BAD4FF;
		font-size: 32px;
		font-family: 'Girassol', cursive;
		margin-left: 12px;
		margin-right: 7px;
		margin-top: 6px;
		margin-bottom: 5px;
	}

	img.rounded {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
		height: 200px;
		width: auto;
	}

	p {
		color: #FFFFFF;
		font-size: 20px;
		font-family: 'Baloo Tammudu 2', cursive;
		margin-left: 25px;
		margin-right: 15px;
		margin-top: 12px;
		margin-bottom: 10px;
	}

	img.homepage {
		width: 80%;
		display: block;
		height: 80%;
		border: 2px solid #81A7E7;
		margin-top: 2em;
		box-shadow: 3px 3px 3px black;
		border-radius: 20%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	label {
		display: inline-block;
		width: 90px;
		line-height: 25px;
	}

	input {
		margin: 0;
		border: 1px solid #666666;
		border-radius: 3px;
	}

	button {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	#nav {
		text-align: center;
		height: 3.2em;
		line-height: 3.2em;
		background: rgba(0, 0, 0, 0.6);
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		margin: 3em 10em 3em;
	}
	
	#nav a {
		color: #FFFFFF;
		text-decoration: none;
		margin: 0 -4px 0 -2px;
		padding: 0 30px;
		font-size: 32px;
		font-weight: bold;
		font-family: 'Righteous', cursive;
		border-left: 2px solid #000;
		border-right: 2px solid #000;
	}
	
	#title_box {
		background: rgba(0, 0, 0, 0.6);
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		margin: 2em 10em 2em;
	}
	
	#box {
		background: rgba(0, 0, 0, 0.6);
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		margin: 2em 10em 2em;
	}
}

#box a{
	color:white;
}

#box a:hover{
	color:#808080;
}

#nav li {
	display: inline-block;
}

#nav a:hover,
#nav a:focus {
	color: #808080
}

#spacing {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

#imagediv {
	margin: 0 auto;
	display: block;
	text-align: center;
}

ul {
	padding-inline-start: 0px;
}

.image-sliderfade {
	display: none;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: black;
	font-size: 35px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	height: 15px; 
	width: 15px; 
	margin: 0 2px; 
	background-color: transparent; 
	border-color: #ddd; 
	border-width: 5 px; 
	border-style: solid; 
	border-radius: 50%; 
	display: inline-block; 
	transition: border-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
