body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.centerdiv {
	text-align: center;
}

h1 {
	text-align: center;
	color: #BAD4FF;
	font-size:64px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 12px;
	margin-right: 7px;
	margin-top: 6px;
	margin-bottom: 5px;
}

h2 {
	text-align: center;
	color: #BAD4FF;
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 12px;
	margin-right: 7px;
	margin-top: 6px;
	margin-bottom: 5px;
}

img.rounded {
	border-radius: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	height: 200px;
	width: auto;
}

p {
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Baloo Paaji 2', cursive;
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 12px;
	margin-bottom: 10px;
}

#nav {
	text-align: center;
	height: 3.2em;
	line-height: 3.2em;
	background: rgba(0, 0, 0, 0.6);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 3em 10em 3em;
}

#nav li {
	display: inline-block;
}

#nav a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 -4px 0 -2px;
	padding: 0 30px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Baloo Paaji 2', cursive;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

#nav a:hover,
#nav a:focus {
	color: #808080
}

#title_box {
	background: rgba(0, 0, 0, 0.6);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 3em 10em 3em;
}
#box {
	background: rgba(0, 0, 0, 0.6);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 3em 10em 3em;
}

#spacing {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

#imagediv {
	margin: 0 auto;
	display: block;
	text-align: center;
}

img.homepage {
	display: inline-block;
	width: 20%;
	height: 20%;
	border: 2px solid #81A7E7;
	margin-top: 1em;
	box-shadow: 3px 3px 3px black;
	border-radius: 20%;
	margin-left: 1em;
	margin-right: 1em;
}

label {
	display: inline-block;
	width: 90px;
	line-height: 25px;
}

input {
	margin: 0;
	border: 1px solid #666666;
	border-radius: 3px;
}

button {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#box a{
	color:white;
}

#box a:hover{
	color:#808080;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#nav {
	background: rgba(0, 0, 0, 0.6);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	
}

#nav li {
	display: inline-block;
}

#nav a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 -4px 0 -2px;
	padding: 0 30px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Baloo Paaji 2', cursive;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

}
