.logo img{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	text-align: center;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	display: flex;
}

nav li{
	margin-left: auto;
	margin-right: auto;
	font-size: 8vh;
}

nav a{
	text-decoration: none;
	display: block;
	color: white;
	padding: 10px;
}

nav{
	width:100vw;
	background-color: #2B547E;
}	
